# Node dependencies
node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Uploads
backend/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite
dist/

# Python
__pycache__/
*.py[cod]
*.class
backend/venv/
backend/venv_old/
backend_old/node_modules/

